body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button.cancel {
  background-color: #dc3545;
  color: white;
}

button.cancel:hover {
  background-color: #c82333;
}

button.more {
  background-color: #3bbbe2;
  color: white;
}

button.more:hover {
  background-color: #27bfe1;
}

button.edit {
  background-color: #3ce068;
  color: white;
}

button.edit:hover {
  background-color: #27e140;
}

.student-list {
  margin-top: 20px;
}

.student-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.student-item:nth-child(odd) {
  background-color: #f9f9f9;
}

.student-item button {
  margin-left: 10px;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h3 {
  margin: 0;
}

.modal-close {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #aaa;
}

.modal-close:hover {
  color: #777;
}